<div class="container-fluid td-outer">
    <div class="td-main">
      <div class="row flex-xl-nowrap">
        <div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none" style="padding-right: 0px; border-right-width: 3px;">
          {% include sidebar.html %}
        </div>
        <div class="d-none d-xl-block col-xl-2 td-toc d-print-none">
          <div class="td-page-meta ml-2 pb-1 pt-2 mb-0">

          </div>
          
          <nav id="TableOfContents" class="toc">
                <ul id="TOC">
                  <p style="text-align: left; font: normal normal normal 20px/45px Fira Sans; letter-spacing: -0.5px; color: #171717; margin-bottom: 0rem;">In this article</p>
                  <!-- Links will be appended here-->
                </ul>
                <svg class="toc-marker" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                  
                  <path stroke="{{ site.stroke_color }}" stroke-width="3" fill="transparent" stroke-dasharray="0, 0, 0, 1000" stroke-linecap="round" stroke-linejoin="round" transform="translate(-0.5, -0.5)" />
                </svg>
          </nav>
        </div>
        <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
          <nav aria-label="breadcrumb" class="d-none d-md-block d-print-none">
            <ol class="breadcrumb spb-1">
              {% assign crumbs = page.url | append: "/" | replace: '//', '/' | split: '/' %}
              {% for crumb in crumbs offset: 1 %}{% if crumb != "index" %}{% if forloop.last %}
              <li class="breadcrumb-item active" aria-current="page">
                <a href="{{ site.url }}{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
              </li>{% else %}
              {% if page.url != "/docs/" %}<li class="breadcrumb-item">
                <a
                  href="{{ site.url }}{{ site.baseurl }}{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{%
                  if crumb == "docs" %}Documentation{% else %}{{ crumb | replace:'-',' ' | remove:'.html' | capitalize
                  }}{% endif %}</a>
              </li>{% endif %}{% endif %}
              {% endif %}{% endfor %}
            </ol>
          </nav>
          <div class="td-content">
            {{ content }}
            {% include feedback.html %}
            {% if section.links %}<div class="section-index">
              <hr class="panel-line">{% for child in section.links %}
              <div class="entry">
                <h5>
                  <a
                    href="{% if child.url %}{{ site.baseurl }}{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{
                    child.title }}</a>
                </h5>
                <p>{{ child.description }}</p>
              </div>{% endfor %}
            </div>{% endif %}
          </div>
        </main>
      </div>
    </div>
    
  </div>
  {% include footer.html %}