---
layout: default

---
<section>
    <div class="aivika-header">
        <div class="dv-logo-container">
        <img src="/en/assets/img/aivika-white-logo.svg" class="dv-logo" />
        </div>
        <div class="product-navigation">
            <a href="/{{ site.lang }}/docs/DocVolante"><img src="/en/assets/img/dv-icon.svg" class="product-icon"/></a>
            <img src="/en/assets/img/aivika-icon.svg" style="opacity: 0.5;" class="product-icon"/>
            <a href="/{{ site.lang }}/docs/ScannerVision"><img src="/en/assets/img/sv-icon.svg" class="product-icon"/></a>
        </div>
    </div>
</section>

{% include page-content.html %}
{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}