---
layout: default
---
<section>
    <div class="docvolante-header">
        <div class="dv-logo-container">
        <img src="../assets/img/dv-white-logo.svg" class="dv-logo" />
        </div>
        <div class="product-navigation">
            <img src="../assets/img/dv-icon.svg" style="opacity: 0.5;" class="product-icon"/>
            <a href="/{{ site.lang }}/docs/aivika"><img src="../assets/img/aivika-icon.svg" class="product-icon"/></a>
            <a href="/{{ site.lang }}/docs/ScannerVision"><img src="../assets/img/sv-icon.svg" class="product-icon"/></a>
        </div>
    </div>
</section>

{% include page-content.html %}
{% include toc.html %}
{% include permalinks.html %}
{% include tags.html %}